<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iBlood - Home page</title>
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="actualWebsite.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <%-include("Components/header.ejs") %>
        <section class="section1">
            <div class="text-contents">
                <h3>Donate blood to contribute</h3>
                <h1>Your blood can bring smile on any one person's face</h1>
            </div>
        </section>
        <section class="section2">
            <div class="left-sec">
                <div>
                    <h2>Register Now</h2>
                    <p>
                        Nor again is there anyone who loves or persues or desires to obtain pain of itself, because it
                        is pain
                    </p>
                </div>
                <a href="#"><i class="ri-login-box-line"></i></a>
            </div>
            <div class="right-sec">
                <div>
                    <h2>Donate Now</h2>
                    <p>Nor again is there anyone who loves or persues or desires to obtain pain of itself, because it is
                        pain</p>
                </div>
                <a href="#"><i class="ri-login-box-line"></i></a>


            </div>
        </section>
        <section class="section3">
            <div class="item-container">
                <div class="left-item">
                    <h1>01.</h1>
                    <h3><span>-----</span>Become a donor</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore similique voluptatem blanditiis vero quisquam, dicta itaque vitae doloremque dignissimos quo?</p>
                </div>
                <div class="mid-item">
                    <h1>01.</h1>
                    <h3><span>-----</span>Why give Blood?</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore similique voluptatem blanditiis vero quisquam, dicta itaque vitae doloremque dignissimos quo?</p>
                </div>
                <div class="right-item">
                    <h1>01.</h1>
                    <h3><span>-----</span>How donation helps?</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore similique voluptatem blanditiis vero quisquam, dicta itaque vitae doloremque dignissimos quo?</p>
                </div>
            </div>
        </section>
        <section class="section4">
            <div class="data-container">
                <div class="data">
                    <h1>25</h1>
                    <p>YEAR OF EXPERIENCE</p>
                </div>
                <div class="data">
                    <h1>430</h1>
                    <p>BLOOD DONATION</p>
                </div>
                <div class="data">
                    <h1>90</h1>
                    <p>TOTAL AWARDS</p>
                </div>
                <div class="data">
                    <h1>35</h1>
                    <p>BLOOD COOPERATIONS</p>
                </div>
            </div>
        </section>
        <section class="section5">
            <div class="service-container">
                <div class="texts">
                    <p>SERVICES</p>
                    <h1>Our Best Services</h1>
                </div>
               <div class="card-section">
                <div class="card-container">
                    <img src="/Images/donating-blood.jpg" alt="">
                    <div>
                        <h2>Blood Donation</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum hic eaque excepturi numquam voluptatibus quam!</p>
                    </div>
                    <button>Read More</button>
                </div>
                <div class="card-container">
                    <img src="/Images/testing-blood.jpg" alt="">
                    <div>
                        <h2>Health Check</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum hic eaque excepturi numquam voluptatibus quam!</p>
                    </div>
                    <button>Read More</button>
                </div>
                <div class="card-container">
                    <img src="/Images/blood-donating.jpg" alt="">
                    <div>
                        <h2>Blood Bank</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum hic eaque excepturi numquam voluptatibus quam!</p>
                    </div>
                    <button>Read More</button>
                </div>
               </div>
            </div>
        </section>
        <section class="section6">
            <div class="team-container">
                <div class="texts">
                    <p>TEAM MEMBERS</p>
                    <h1>Meet Our Volunteers</h1>
                </div>
                <div class="team-card-container">
                    <div class="card">
                        <img src="/Images/doctor1.jpg" alt="">
                        <h3>Nora Khaypeia</h3>
                        <p>Co-founder</p>
                    </div>
                    <div class="card">
                        <img src="/Images/doctor2.jpg" alt="">
                        <h3>Alex Joshan Deo</h3>
                        <p>Co-founder</p>
                    </div>
                    <div class="card">
                        <img src="/Images/doctor3.jpg" alt="">
                        <h3>Dr. Ramchandran Nadar</h3>
                        <p>Co-founder</p>
                    </div>
                </div>
            </div>
        </section>
        <%-include("Components/footer.ejs") %>
</body>

</html>