<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iBlood - Welcome to iBlood</title>
    <link rel="stylesheet" href="style1.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <%- include('Components/header.ejs') %>
    <div class="main">
        <div class="left-main">
            <div class="text-content">
                <h1>iBlood</h1>
                <h3>Give the <span>Gift</span> of life - <span>Donate</span> blood today.</h3>
                <p>Donate Blood, Save Lives - Join Us Today! At our blood bank, we're passionate about making a
                    difference. By donating a small portion of your time and blood, you can help ensure that patients in
                    need receive the life-saving transfusions they require. Come on board and be a hero!</p>
            </div>
        </div>
        <div class="right-main">
            <img src="/Images/bloodDrop.jpg" alt="">
        </div>
    </div>
    <%- include("Components/footer.ejs") %>
</body>

<script src="script.js"></script>

</html>